:root {
  --primary-color: #2dd4bf; /* Example primary color */
  --secondary-color: #14b8a6; /* Example secondary color */
  --complementary-color: #d97706;
  /* Define other color variables if needed */
}
